*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Neutral-900: #080C20;
    --Neutral-400: #777F98;
    --Neutral-0: #FFFFFF;
    --Cyan-400: #3EE9E5;
    --Red-400: #FF2965;
    --Blue-800: #093F68;
    --Blue-Gray-500: #6B8CA4;
}
/* Body Style */
body{
    background-color: var(--Neutral-900);
} 

/* Logo */
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    max-width: 400px;
    text-align: center;
}
/* Hero */
 .hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 64px;
    
} 
.hero .left-image {
  max-width: 400px;
}
.hero .right-image {
  max-width: 400px;
}
.hero > div {
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.hero .content div>img{
    display: none;
    max-width: 400px;
    justify-content: center;
}

.content {
    grid-column: 1 / -1; 
    text-align: center;
    justify-self: center;
    order: 3;
    max-width: 400px;
    text-align: center;
    margin-top: 64px;
    position: relative; 
} 
 .hero .content h1{
    font-family: 'text-preset-1(mobile)';
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: var(--Neutral-0);
}
.hero .content .span{
    color: var(--Cyan-400);
    font-family: 'text-preset-1(mobile)';
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
}
.hero .content p{
    font-family: 'text-preset-5';
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: var(--Neutral-400);
} 
 .hero button {
  background: transparent;
  border: 2px solid var(--Blue-Gray-500);
  width: 26px;
  height: 42px;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.hero button::after {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 8px;
  background-color: var(--Cyan-400);
  border-radius: 2px;
}
.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 82px;
}

.hero-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

}
.hero-box .box{
    max-width:  767px;
    text-align: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
} 
.hero-box .box > div{
   display: flex;
  justify-content: center;
   margin: 0 auto 16px;
   background-color: var(--Blue-800);
   width: 120px;
   height: 120px;
   gap: 10px;
   border-radius: 32px;


}

 .hero-box .box img {
  display: block;
  width: 48px;
  height: auto;
}
.main-content .hero-box h3{
    font-family: 'text-preset-4';
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    color: var(--Neutral-0);
}
.main-content .hero-box p{
    font-family: 'text-preset-5';
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: var(--Neutral-400);
}
.Pricing-plans-Section .pricing plans{
  display: flex;
  align-self: center;
   justify-content: center;
   margin-top: 80px;
   text-align: center;
   max-width: 400px;
}
 .plans-container {
    align-items: center;
    text-align: center;
    justify-self: center;
    max-width: 400px;
    text-align: center;
    margin-top: 64px;
}

.pricing-plans .plans-container h3{
 font-family: 'text-preset-1';
 font-weight: 800;
 font-size: 32px;
 line-height: 120%;
 color: var(--Neutral-0);
}
.pricing-plans .plans-container p{
 font-family: 'Manrope';
 font-weight: 500;
 font-size: 15px;
 line-height: 25px;
 color: var(--Neutral-400);
 margin-bottom: 90px;
}
.Pricing-plans-Section .card{
    background-color: var(--Blue-800);
    width: 343px;
    height: 405px;
    border-radius: 8px;
    padding: 40px 40px 40px 40px ;
    gap: 24px;
    align-items: center;
}
.card .img{
   position: relative;
   top:  -70px;
}
.card h4{
  font-family: 'text-preset-4';
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: var(--Neutral-0);
}
.card p{
  font-family: 'text-preset-5';
  font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: var(--Neutral-400);
}
.card h2{
  font-family: text-preset-4;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  color: var(--Neutral-0);
}
.card ul{
    text-align: start;
    font-family: 'text-preset-5';
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: var(--Neutral-0);

}
.card li>img{
  margin-right: 12px;
}
.Pricing-plans-Section .card-1{
    background-color: var(--Cyan-400);
    margin-top: 80px;
    padding-left: 30px;
}
.card-1{
  padding: 48px 44px 48px ;
}

.card-1 h4{
  font-family: 'text-preset-4';
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: var(--Blue-800);
  
}
.card-1 p{
  font-family: 'text-preset-5';
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: var(--Neutral-900);
  margin-top: 20px;
  
}
.card-1 h2{
  font-family: 'text-preset-2';
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  color: var(--Blue-900);
  padding-left: 12px;
  
}
span{
  font-family: 'text-preset-5';
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: var(--Neutral-900);
}
.card-1 ul{
  font-family: 'text-preset-4';
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: var(--Blue-800);
  
}
.footer-div{
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}
.footer-div h2{
  font-family: 'text-preset-3';
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: var(--Neutral-0);
}
 footer {
    position: relative;
    overflow: hidden;
  }

 
  footer .path {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    pointer-events: none;
  }

  footer section,
  footer form {
    position: relative;
    z-index: 2;
    text-align: center;
  }
 
#form-email{
  background-color: var(--Blue-800);
  width: 320px;
  border-radius: 999px;
  margin: 40px 27.5px 20px;
  padding: 12px 20px;
  max-width: 400px;
}
#btn{
   width: 320px;
   border-radius: 999px;
   margin: 20px 27.5px 59px;
   text-align: center;
   background-color: var(--Cyan-400);
   padding: 12px 115px;
}
/* =========================
   TABLET RESPONSIVE
   ========================= */

