*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Neutral-900: #080C20;
    --Neutral-400: #777F98;
    --Neutral-0: #FFFFFF;
    --Cyan-400: #3EE9E5;
    --Red-400: #FF2965;
    --Blue-800: #093F68;
    --Blue-Gray-500: #6B8CA4;
}
/* Body Style */
 body{
    background-color: var(--Neutral-900);
} 
/* Logo */
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    max-width: 767px;
}
/* Hero */
 .hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 64px;
    
} 
.hero .left-image {
  max-width: 400px;
}
.hero .right-image {
  max-width: 400px;
}
.hero > div {
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.hero .content img{
    display: none;
    max-width: 400px;
    justify-content: center;
}

.content {
    grid-column: 1 / -1; 
    text-align: center;
    justify-self: center;
    order: 3;
    max-width: 400px;
    text-align: center;
    margin-top: 64px;
} 
 .hero .content h1{
    font-family: 'text-preset-1(mobile)';
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: var(--Neutral-0);
}
.hero .content span{
    color: var(--Cyan-400);
}
.hero .content p{
    font-family: 'text-preset-5';
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: var(--Neutral-400);
} 
 .hero button {
  background: transparent;
  border: 2px solid var(--Blue-Gray-500);
  width: 26px;
  height: 42px;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.hero button::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 8px;
  background-color: var(--Cyan-400);
  border-radius: 2px;
}
.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 82px;
}

.hero-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

}
.hero-box .box{
    max-width:  767px;
    text-align: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
} 
.hero-box .box > div{
   display: flex;
  justify-content: center;
   margin: 0 auto 16px;
}

 .hero-box .box img {
  display: block;
  width: 48px;
  height: auto;
  margin-bottom: 32px;
}
.main-content .hero-box h3{
    font-family: 'text-preset-4';
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    color: var(--Neutral-0);
}
.main-content .hero-box p{
    font-family: 'text-preset-5';
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: var(--Neutral-400);
}
.Pricing-plans-Section .container{
   display: flex;
   flex-direction: column;
   margin-top: 80px;
   text-align: center;
   max-width: 767px;
}
.container .plans-container {
  display:;
  text-align: center;
  justify-content: center;

  margin-top: 80px;
}

.container .plans-container h3{
 font-family: 'text-preset-1';
 font-weight: 800;
 font-size: 32px;
 line-height: 120%;
 color: var(--Neutral-0);
}
.container .plans-container p{
 font-family: 'Manrope';
 font-weight: 500;
 font-size: 15px;
 line-height: 25px;
 color: var(--Neutral-400);
}
.Pricing-plans-Section .card{
    background-color: var(--Blue-800);
    width: 343px;
    height: 405px;
    border-radius: 8px;
    padding-top: 48px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    gap: 24px;
}
.Pricing-plans-Section .card-1{
    background-color: var(--Cyan-400);
    margin-top: 80px;
}
ul{
    text-align: start;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .hero-box .box {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; /* let it shrink on mobile */
    padding: 0 16px; /* optional padding */
  }
}
